Repository guibranco/CrispyWaffle, pull requests merged in 2023-11, with the labels that each got.

#238 Create qodana.yml
  .github/workflows/qodana.yml
Labels: code quality, size/S, github-actions

#240 Update JsonSerializerAdapterTests.cs
  Tests/CrispyWaffle.Tests/Serialization/JsonSerializerAdapterTests.cs
Labels: bug, enhancement, tests, .NET, size/XS, Serializers

#253 Install .NET 8 in AppVeyor
  Tests/CrispyWaffle.Tests/CrispyWaffle.Tests.csproj
  appveyor.yml
Labels: enhancement, dependencies, .NET, size/XS, CI/CD

#251 Add explicitly support to .NET 6, .NET 7 and .NET 8
  Src/CrispyWaffle.Configuration/CrispyWaffle.Configuration.csproj
  Src/CrispyWaffle.ElasticSearch/CrispyWaffle.ElasticSearch.csproj
  Src/CrispyWaffle.Elmah/CrispyWaffle.Elmah.csproj
  Src/CrispyWaffle.Log4Net/CrispyWaffle.Log4Net.csproj
  Src/CrispyWaffle.RabbitMQ/CrispyWaffle.RabbitMQ.csproj
  Src/CrispyWaffle.Redis/CrispyWaffle.Redis.csproj
  Src/CrispyWaffle.Utils/CrispyWaffle.Utils.csproj
  Src/CrispyWaffle/CrispyWaffle.csproj
Labels: size/S
